<div class="container">
    <img 
        src="img/task-list-null.png" 
        alt="Sua lista está vazia - iamgem ilustrativa" 
        loading="eager"
    />

    @if(addItem()) {
        <button class="btn btn-primary" (click)="showTaskInput()">
            Crie uma lista de tarefas
        </button>
    } @else {
        <div>
            <label class="input-label-text" for="inputValue">
                <input 
                    id="inputValue"
                    type="text" 
                    placeholder="Adicione um novo item" 
                    autofocus
                >
    
                <button class="btn btn-primary-circle" title="Adicionar um novo item">
    
                </button>
            </label>
        </div>
    }
</div>
